<!doctype html>
<html lang="en">

{{ template "head.tmpl.html" . }}

<body class="page">
  {{ template "icons.tmpl.html" . }}
  {{ template "header.tmpl.html" . }}

  <div id="toc">
  </div>

  <div class="content">
    {{$currChapterNo:=.CurrentChapterNo}}
    {{$currArticleNo:=.CurrentArticleNo}}
    <div class="article">
      <div class="article-top-hdr">
        <span>
          <a href="{{.Book.URL}}" class="breadcrumbs__item">{{.Book.Title}}</a>
          <a href="{{.Parent.URL}}">{{.Parent.Title}}</a>
        </span>

        <span class="article-contribute">
          <a class="edit-link" href="{{.NotionURL}}" rel="nofollow" target="_blank">suggest change</a>
        </span>
      </div>

      <h1 class="title">{{.Title}}</h1>
      {{ .HTML }}

      <div class="forum-link">
        Found a mistake? Have a question or improvement idea?
        <a href="#" onclick="showcontact(); return false;">Let me know</a>.
      </div>

      <form name="essentialbooks-feedback" netlify id="contact-form">
        <p>
          <div class="contact-light">Feedback about page:</div>
          <input type="text" name="page-url" id="contact-page-url" readonly />
        </p>
        <p>
          <div class="contact-light">Feedback:</div>
          <textarea name="message" id="msg-for-chris"></textarea>
          <div class="contact-light">Optional: your email if you want me to get back to you: </div>
          <input type="email" name="email" />
        </p>
        <p>
          <button type="submit" class="contact-btn">
            Send Feedback
          </button>
          <button class="contact-btn" style="float: right;" onclick="hidecontact(); return false;">
            Cancel
          </button>
        </p>
        <p>
          <div data-netlify-recaptcha></div>
        </p>
      </form>

      <div class="article-bottom-sep"></div>

      <div class="chapter-toc">
        <div>
          <a href="{{.Parent.URL}}">{{.Parent.Title}}/</a>
        </div>
        <div style="padding-left: 16px">
          {{range $idx, $page := .Siblings}} {{if eq $idx $currArticleNo}}
          <div>
            <!--
              <span class="chap-no">{{inc $idx}}</span>
            -->
            <span class="is-current">{{$page.Title}}</span>
          </div>
          {{else}}
            <div>
              <!--
               <span class="chap-no">{{inc $idx}}</span>
            -->
              <a href="{{$page.URL}}">{{$page.Title}}</a>
            </div>
            {{end}} {{end}}
        </div>
      </div>

      <div class="chapter-toc-wrapper">
        <hr class="toc-sep">

        <!--
           <div class="toc-header">{{.Book.TitleLong}}</div>
        -->
        <div class="toc-header">Table Of Contents</div>

        <div class="chapters-toc">
          {{range $idx, $page := .Book.Chapters}} {{if eq $currChapterNo $idx}}
          <div class="chapters-toc-item">
            <span class="chap-no">{{inc $idx}}</span>
            <span class="is-current">{{$page.Title}}</span>
          </div>
          {{else}}
            <div class="chapters-toc-item">
              <span class="chap-no">{{inc $idx}}</span>
              <a href="{{.URL}}">{{$page.Title}}</a>
            </div>
            {{end}} {{end}}
        </div>
      </div>

    </div>
  </div>

  {{ template "footer.tmpl.html" . }}

  <!-- absolutely positioned elements -->
  <div id="search-results-window">
    <div id="search-results">
    </div>
    <div id="search-results-help">
      &nbsp;&nbsp;&uarr; &darr; to navigate &nbsp;&nbsp;&nbsp; &crarr; to select &nbsp;&nbsp;&nbsp; Esc to close
    </div>
  </div>
  <div id="blur-overlay"></div>

</body>

</html>