<!doctype html>
<html lang="en">

{{ template "head.tmpl.html" . }}

<body class="page">
  {{ template "icons.tmpl.html" . }}
  {{ template "header.tmpl.html" . }}

  <div id="toc"></div>

  <div class="content">
    <div class="article">
      {{ template "top.hdr.tmpl.html" . }}

      {{ .HTML }}

      {{ template "contact.link.tmpl.html" . }}
      {{ template "contact.form.tmpl.html" . }}

      <div class="article-bottom-sep"></div>

      <div class="chapter-toc">
        {{if .Pages}}
        <div>
          <b>{{.Page.Title}}/</b>
        </div>
        {{end}}
        <div style="padding-left: 16px">
          {{range .Pages}}
          <div>
            <a href="{{.URL}}">{{.Title}}</a>
          </div>
          {{end}}
        </div>
      </div>

      {{ template "toc.chapters.tmpl.html" . }}

    </div>
  </div>

  {{ template "footer.tmpl.html" . }}
  {{ template "search.results.tmpl.html" . }}

</body>
</html>