<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="always">

  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" content="@kjk">
  <meta name="twitter:title" content="{{.Title}}">
  <!-- do something else for description -->
  <meta name="twitter:description" content="{{.Book.TitleLong}} is a free programming book about {{.Book.Title}}">
  <meta name="twitter:creator" content="@kjk">
  <meta name="twitter:image" content="{{.Book.CoverTwitterFullURL}}">
  <!-- do something else for title -->
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{.CanonnicalURL}}" />
  <!-- do something else for description -->
  <meta property="og:description" content="{{.Title}}">
  <meta property="og:image" content="{{.Book.CoverTwitterFullURL}}">

  <title>{{.Title}}</title>
  <meta name="description" content="{{.Title}}">

  <link rel="icon" href="{{.PathFaviconICO}}">
  <link href="{{.PathMainCSS}}" rel="stylesheet"> {{ .Analytics }}
  <script src="{{.Book.AppJSURL}}" defer></script>
</head>

<body class="page">
  {{ template "icons.tmpl.html" . }}

  {{$currChapterNo:=.CurrentChapterNo}}
  <header class="page__header">
    <div class="page__header__left">
      <a id="link-home" href="/">
        <svg class="icon-home">
          <use xlink:href="#icon-home"></use>
        </svg>
        &nbsp;Essential Books</a>
    </div>
    <div class="page__header__center">
      <input id="search-input" placeholder="Search {{.Book.Title}}. Tip: press '/'.">
    </div>
    <div class="page__header__right">
    </div>
  </header>

  <div id="toc">
  </div>

  <div class="content">
    <div class="article">
      <div class="article-top-hdr">
        <span>
          <a href="{{.Book.URL}}">{{.Book.Title}}</a>
        </span>

        <span class="article-contribute">
          <a class="edit-link" href="{{.NotionURL}}" rel="nofollow" target="_blank">suggest change</a>
        </span>
      </div>

      <h1 class="title">{{.Title}}</h1>

      {{.HTML}}

      <div class="forum-link">
        Found a mistake? Have a question or improvement idea?
        <a href="#" onclick="showcontact(); return false;">Let me know</a>.
      </div>

      <form name="essentialbooks-feedback" netlify id="contact-form">
        <p>
          <div class="contact-light">Feedback about page:</div>
          <input type="text" name="page-url" id="contact-page-url" readonly />
        </p>
        <p>
          <div class="contact-light">Feedback:</div>
          <textarea name="message" id="msg-for-chris"></textarea>
          <div class="contact-light">Optional: your email if you want me to get back to you: </div>
          <input type="email" name="email" />
        </p>
        <p>
          <button type="submit" class="contact-btn">
            Send Feedback
          </button>
          <button class="contact-btn" style="float: right;" onclick="hidecontact(); return false;">
            Cancel
          </button>
        </p>
        <p>
          <div data-netlify-recaptcha></div>
        </p>
      </form>


      <div class="article-bottom-sep"></div>

      <div class="chapter-toc">
        {{if .Pages}}
        <div>
          <b>{{.Page.Title}}/</b>
        </div>
        {{end}}
        <div style="padding-left: 16px">
          {{range .Pages}}
          <div>
            <!--
              <span class="chap-no"></span>
            -->
            <a href="{{.URL}}">{{.Title}}</a>
          </div>
          {{end}}
        </div>
      </div>

      <div class="chapter-toc-wrapper">
        <hr class="toc-sep">

        <!--
          <div class="toc-header">{{.Book.TitleLong}}</div>
        -->
        <div class="toc-header">Table Of Contents</div>

        <div class="chapters-toc">
          {{range $idx, $page := .Book.Chapters}} {{if eq $currChapterNo $idx}}
          <div class="chapters-toc-item">
            <span class="chap-no">{{inc $idx}}</span>
            <span class="is-current">{{.Title}}</span>
          </div>
          {{else}}
            <div class="chapters-toc-item">
              <span class="chap-no">{{inc $idx}}</span>
              <a href="{{.URL}}">{{.Title}}</a>
            </div>
            {{end}} {{end}}
        </div>
      </div>
    </div>
  </div>

  <footer class="page__footer">
    <div class="page__footer__left">
      Maintained by
      <a href="https://blog.kowalczyk.info" target="_blank">Krzysztof Kowalczyk</a>
    </div>
    <div class="share-me">
      <a href="https://twitter.com/intent/tweet?text={{.Book.ShareOnTwitterText}}&url={{.Book.CanonnicalURL}}&via=kjk">Share
        <b>{{.Book.TitleLong}}</b> on&nbsp;
        <svg class="icon-twitter">
          <use xlink:href="#icon-twitter"></use>
        </svg>
      </a>
    </div>
    <div class="page__footer__right">
      <!-- right side. Used to be 'edit github' url -->
    </div>
  </footer>

  <!-- absolutely positioned elements -->
  <div id="search-results-window">
    <div id="search-results">
    </div>
    <div id="search-results-help">
      &nbsp;&nbsp;&uarr; &darr; to navigate &nbsp;&nbsp;&nbsp; &crarr; to select &nbsp;&nbsp;&nbsp; Esc to close
    </div>
  </div>
  <div id="blur-overlay"></div>
</body>

</html>