<!doctype html>
<html lang="en">

{{ template "head.tmpl.html" . }}

<body class="page">
  {{ template "icons.tmpl.html" . }}
  {{ template "header.tmpl.html" . }}

  <div id="toc">
  </div>

  <div class="content">
    <div class="article">
      {{ template "top.hdr.tmpl.html" . }}

      {{ .HTML }}

      <div class="forum-link">
        Found a mistake? Have a question or improvement idea?
        <a href="#" onclick="showcontact(); return false;">Let me know</a>.
      </div>

      {{ template "contact.form.tmpl.html" . }}

      <div class="article-bottom-sep"></div>

      <div class="chapter-toc">
        {{if .Pages}}
        <div>
          <b>{{.Page.Title}}/</b>
        </div>
        {{end}}
        <div style="padding-left: 16px">
          {{range .Pages}}
          <div>
            <a href="{{.URL}}">{{.Title}}</a>
          </div>
          {{end}}
        </div>
      </div>

      <div class="chapter-toc-wrapper">
        <hr class="toc-sep">

        <div class="toc-header">Table Of Contents</div>

        <div class="chapters-toc">
          {{$currChapterNo:=.CurrentChapterNo}}
          {{range $idx, $page := .Book.Chapters}} {{if eq $currChapterNo $idx}}
          <div class="chapters-toc-item">
            <span class="chap-no">{{inc $idx}}</span>
            <span class="is-current">{{.Title}}</span>
          </div>
          {{else}}
            <div class="chapters-toc-item">
              <span class="chap-no">{{inc $idx}}</span>
              <a href="{{.URL}}">{{.Title}}</a>
            </div>
            {{end}} {{end}}
        </div>
      </div>
    </div>
  </div>

  {{ template "footer.tmpl.html" . }}

  <!-- absolutely positioned elements -->
  <div id="search-results-window">
    <div id="search-results">
    </div>
    <div id="search-results-help">
      &nbsp;&nbsp;&uarr; &darr; to navigate &nbsp;&nbsp;&nbsp; &crarr; to select &nbsp;&nbsp;&nbsp; Esc to close
    </div>
  </div>
  <div id="blur-overlay"></div>
</body>

</html>